<div class="container py-5">
  <div class="row justify-content-center mb-5">
    <div class="col-10">
      <%# <%= cl_image_tag "wsyaaaatrrllm8fxavub", width: 400, height: 300, crop: :fill %>
      <%# <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-10">
      <div class="card" style="height: 400px;">
        <%= image_tag "cinema-seats.jpg", alt: "Cinematic rows of deep red cinema seats", class: "img-fluid object-fit-cover rounded card-img h-100" %>
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
          <h1 class="p-2 text-info-emphasis bg-info-subtle fw-bold rounded-2">Your lists</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-3">
    <% @lists.each_with_index do |list, i| %>
      <div class="col-4 mb-3">
        <div class="card" style="height: 276px;">
          <%# @images[i % @lists_length] %>
          <% if list.image.attached? %>
            <%# <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
            <%# <%= cl_image_tag list.image.key, alt: "Background image for a list", class: "card-img img-fluid rounded h-100 object-fit-cover" %>
            <%= image_tag list.image, alt: "Background image for a list", class: "card-img img-fluid rounded h-100 object-fit-cover" %>
          <% end %>

          <div class="card-img-overlay d-flex flex-column justify-content-between align-items-center mt-4">
            <h4 class="text-info-emphasis bg-info-subtle fw-bold rounded-2 p-2"><%= list.name %></h4>

            <div class="d-flex flex-row justify-content-between w-100">
              <%= link_to "Add to this list", list_path(list), class: "btn btn-outline-primary" %>
              <%= link_to "Delete this list", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-4">
      <%= link_to "Create a New List", new_list_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
