<h1><%= @list.name %></h1>
<ul class="list-group">
  <% @bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <h5>Title:</h5>
      <p class="list-group-item"><%= bookmark.movie.title %></p>
      <h5>Overview:</h5>
      <p class="list-group-item"><%= bookmark.movie.overview %></p>
      <h5>Rating:</h5>
      <p class="list-group-item"><%= bookmark.movie.rating %></p>
      <%= link_to "Delete Bookmark", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger" %>
    </li>
  <% end %>
</ul>
<h2>Add a Movie to Your List:</h2>
<%= simple_form_for [@list, @bookmark] do |form| %>
  <%= form.input :movie_id, collection: @movies %>
  <%= form.input :comment %>
  <%= form.button :submit %>
<% end %>
